@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&family=Roboto:wght@700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    width: auto;
    height: auto;
    background-color: #5B48D4 ;
}

.container__header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
}

.logo {
    background-repeat: no-repeat;
}

.container__main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: #d2ccf8 ;
    border-radius: 45px;
    box-shadow: 2px 3px 3px 5px rgba(43, 41, 41, 0.15);

    display: inline-block;
    width: 1024px;
    height: 300px;
    text-align: center;
}

#chamada {
    font-family: "MontSerrat", "sans-serif";
    color: #1a1919;
    font-weight: 800;
    font-size: 32px;
    padding-top: 40px;
}

.pitch__1 {
    padding-top: 40px;
    font-family: "MontSerrat",
     "sans-serif";
    color: #2D2D2D;
    font-weight: 500;
    font-size: 20px;
}

.pitch__2 {
    padding-top: 10px;
    font-family: "MontSerrat",
     "sans-serif";
    color: #2D2D2D;
    font-weight: 500;
    font-size: 20px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

.login__btn {
    width: 280px;
    height: 50px;

    background: #5B48D4;
    border-radius: 20px;
    border: 2px solid #f7f7f7;
    color: white;
    cursor: pointer;

    font-size: 16px;
    font-weight: 500;
    font-family: 'MontSerrat',
    "sans-serif";
}

.login__btn:hover {
    transform: scale(1.05);
    text-transform: uppercase;
}

.cadastrar__btn {
    width: 280px;
    height: 50px;

    background: #FFFAFA;
    border-radius: 20px;
    border: 2px solid #5B48D4;
    color: #5B48D4;
    cursor: pointer;

    font-size: 16px;
    font-weight: 500;
    font-family: 'MontSerrat',
    "sans-serif";
}

.cadastrar__btn:hover {
    transform: scale(1.05);
    text-transform: uppercase;
}

.rodape {
    margin-top: 65px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 300;
    font-family: 'MontSerrat',
    "sans-serif";
    color: rgba(240, 255, 255, 0.644);
}

@media (max-width: 560px) {
    
    .box {
      display: inline-block;
      width: 100%;
      height: auto;
    }

    .buttons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cadastrar__btn {
        margin-top: 15px;
    }


    footer {
        display: block;
        height: auto;
    }
}