@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&family=Roboto:wght@700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #5B48D4;
}

header {
    max-height: 12.5rem;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.content {
    background-color: #fffffffb;
    width: 30rem;
    height: 20.5rem;
    display: flex;
    align-items: center;
    flex-flow: column;
    box-shadow: 1px 1px 6px #00001c;
    border-radius:  20px;
}

.cpf input {
    margin-top: 1.5rem;
    border: none;
    border-radius: 5px;
    padding: 0.8rem 1.5rem;
    box-shadow: 1px 1px 6px #00001c;
}

.senha input {
    margin-top: 1.5rem;
    border: none;
    border-radius: 5px;
    padding: 0.8rem 1.5rem;
    box-shadow: 1px 1px 6px #00001c;
}

.cpf input:focus-visible, .senha input:focus-visible {
    outline: 1px solid #5B48D4;
}


.cpf input::placeholder, .senha input::placeholder {
    padding-left: 0.1rem;
    color: #000000be;
    font-size: 0.8rem;
    font-weight: 500;
}

.cpf input:hover, .senha input:hover {
    background-color: #f3f3f8fd;
}

button {
    margin-top: 1.4rem;
    padding: 0.18rem 4.5rem;
    background: #5B48D4;
    color: #edf0f1;
    border: 2px solid #5B48D4;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 20px;
}

button:hover {
    background-color: rgba(37, 0, 169, 0.8);
    font-weight: 700;
}

button:active {
    background-color: orangered;
}

.esqueci_senha {
    margin-top: 1.4rem;
}

.esqueci_senha a {
    color: hsla(241, 87%, 56%, 0.986);
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 800;
}

.biometria {
    margin-top: 1.2rem;
}

.biometria img {
    width: 3rem;
}

.descritivo {
    font-size: 0.6rem;
    text-align: center;
    color: #5B48D4;
    font-weight: 500;
}

